{% extends 'base.html.twig' %}

{% block title %}Hello GeneratepdfController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello!</h1>

    Please, find your bill order in attached pdf file.

    Best regards.
</div>
{% endblock %}
